# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CopyWorker/x64/
CopyWSRGui/x64/
CopyWSRSvc/x64/
ServiceLib/x64/
TestCopy/x64/
x64/
*.user
.vs/
